@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body {
  height: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

header.jumbotron {
  color: #ffffff;
  margin-bottom: 0px;
  text-align: center;
  background-size: cover;
  background-image: url(https://goo.gl/yfbT7m);
  background-attachment: fixed;
}
header.jumbotron .container {
  color: white;
  padding: 100px 0px;
}
header.jumbotron hr {
  max-width: 300px;
  border: solid 2px #42d1f4;
}
header.jumbotron h4 {
  color: rgba(0, 0, 0, 0.8);
}
header.jumbotron section {
  padding: 50px 0px;
}

section#section_ask {
  background-color: #42d1f4;
}
section#section_ask .col-sm-5.img {
  background-image: url(https://assets.teenvogue.com/photos/5ac3e3bf8616482b0189c08b/master/pass/bts-tout.jpg);
  height: 300px;
  background-size: cover;
  mix-blend-mode: multiply;
}
section#section_ask h2 {
  margin-top: 130px;
  padding: 0px 20px;
}

section#section_about img {
  width: 80%;
}
section#section_about .img_wrap {
  height: 150px;
  overflow: hidden;
}
